.heading {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #f9fafb;
  margin: 0;
}

.heading-1 {
  font-size: 2.1rem;
}

.heading-2 {
  font-size: 1.7rem;
}

.heading-3 {
  font-size: 1.3rem;
}

.heading-4 {
  font-size: 1.1rem;
}

.heading-center {
  text-align: center;
}

.heading-right {
  text-align: right;
}